<div class="container mt-5 mb-5">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="box bg-transparent">
          <div class="manga-edit-form">
            <%= form_with(model: @manga, local: true) do |f| %>
              <div class="field">
                <%= f.label :title %>
                <%= f.text_field :title, class: "input bg-tansparent" %>
              </div>
              <div class="field">
                <%= f.label :alternative_title %>
                <%= f.text_field :alternative_title, class: "input bg-tansparent" %>
              </div>
              <div class="field">
                <%= f.label :image_cover, "Image Cover URL" %>
                <%= f.text_field :image_cover, class: "input bg-tansparent" %>
              </div>
              <div class="field">
                <%= f.label :status %>
                <%= f.select :status, ["Ongoing", "Completed"], {}, class: "input bg-tansparent" %>
              </div>
              <div class="field">
                <%= f.label :manga_type, "Manga Type" %>
                <%= f.text_field :manga_type, class: "input bg-tansparent" %>
              </div>
              <div class="field">
                <%= f.label :series %>
                <%= f.text_field :series, class: "input bg-tansparent" %>
              </div>
              <div class="field">
                <%= f.label :author %>
                <%= f.text_field :author, class: "input bg-tansparent" %>
              </div>
              <div class="field">
                <%= f.label :rating %>
                <%= f.number_field :rating, step: 0.1, class: "input bg-tansparent" %>
              </div>
              <div class="field">
                <%= f.label :created_date %>
                <%= f.date_field :created_date, class: "input bg-tansparent" %>
              </div>
              <div class="field">
                <%= f.label :genre %>
                <%= f.text_area :genre, placeholder: "Comma separated (e.g., Action, Fantasy)", class: "input bg-tansparent", rows: "4" %>
              </div>
              <div class="field">
                <%= f.label :synopsis %>
                <%= f.text_area :synopsis, class: "textarea bg-tansparent", rows: "10" %>
              </div>
              <div class="actions">
                <%= f.submit "Update Manga", class: "button bg-tansparent", data: {
                controller: "confirm",
                action: "confirm#confirm",
                confirm_title_value: "Update?",
                confirm_message_value: "Do you want to save the changes?",
                confirm_confirm_text_value: "Yes, update it!"
              } %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="manga-links">
          <%= link_to "Back to Manga", @manga, class: "button bg-tansparent" %>
        </div>
      </div>
    </div>
</div>