<div class="container">
  <div class="box bg-full-transparent">
    <h2 class="title has-text-centered">
      <i class="fas fa-envelope"></i> Resend Confirmation Instructions
    </h2>
    <p class="has-text-centered mb-4">
      Enter your email to receive the confirmation instructions again.
    </p>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "box bg-transparent" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <div class="control has-icons-left">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "input is-rounded bg-full-transparent", placeholder: "Email" %>
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.submit "Resend Confirmation Instructions", class: "button bg-transparent is-rounded" %>
        </div>
      </div>
    <% end %>
    <div class="has-text-centered mt-4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
