<h2 class="title has-text-centered mt-4">
  <i class="fas fa-envelope"></i> Resend Confirmation Instructions
</h2>
<p class="has-text-centered mb-4">
  Enter your email to receive the confirmation instructions again.
</p>
<div class="container">
  <div class="columns is-centered">
    <div class="column is-one-third">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "box bg-transparent" }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <div class="control has-icons-left">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "input bg-full-transparent", placeholder: "Email" %>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <%= f.submit "Resend Confirmation Instructions", class: "button bg-transparent is-fullwidth" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="has-text-centered mt-4">
  <%= render "devise/shared/links" %>
</div>
