<div class="container mb-5 mt-5">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="box bg-transparent">
          <div class="manga-form">
            <%= form_with url: manga_chapter_create_path(@manga.title), method: :post, local: true do |f| %>
              <div class="field">
                <%= f.label :chapter_number, "Number Chapter" %>
                <%= f.number_field :chapter_number, name: "chapter[chapter_number]", value: @chapter.chapter_number, class: "input bg-transparent" %>
              </div>
              <div class="field">
                <%= f.label :images, "URL Images Chapter" %>
                <%= f.text_area :images, name: "chapter[images]", class: "textarea bg-transparent", rows: 10 %>
              </div>
              <div class="field">
                <%= f.submit "Added Chapter", class: "button bg-transparent", data: {
                controller: "confirm",
                action: "confirm#confirm",
                confirm_title_value: "Added?",
                confirm_message_value: "Do you want to save the changes?",
                confirm_confirm_text_value: "Yes, Added it!",
                confirm_button_color_value: "#171515"
              } %>
              </div>
            <% end %>
          </div>
        </div>
          <%= link_to "Back to Manga", @manga, class: "button bg-tansparent" %>
      </div>
    </div>
</div>